.App {
  text-align: center;
  display: flex;
  margin: 15px;
}

pre {
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.input-group {
  text-align: right;
  max-width: 85%;
}

.input-group input {
  min-width: 300px;
}

.input-group label {
  margin-right: 7px;
}

form pre {
  max-width: 300px;
}